
推甄/中央大學/注意事項.txt
推甄/中央大學/資訊⼯程學系/0-2成績名次證明.doc
推甄/中央大學/資訊⼯程學系/考試須知.txt
推甄/中央大學/資訊⼯程學系AI碩⼠班/0-2成績名次證明.doc
推甄/中央大學/資訊⼯程學系AI碩⼠班/考試須知.txt
推甄/中央大學/資訊⼯程學系軟體⼯程碩⼠班/0-2成績名次證明.doc
推甄/中央大學/資訊⼯程學系軟體⼯程碩⼠班/考試須知.txt
推甄/交通大學/A30(智慧科學暨綠能學院碩⼠班聯招)/112-03附錄：線上上傳審查資料說明.pdf
推甄/交通大學/A30(智慧科學暨綠能學院碩⼠班聯招)/112碩博甄試簡章 (2).pdf
推甄/交通大學/A30(智慧科學暨綠能學院碩⼠班聯招)/以入學大學同等學力認定標準第6條報考資格系所資格審查認定申請書.doc
推甄/交通大學/A30(智慧科學暨綠能學院碩⼠班聯招)/多人合作之競賽獲獎與專題貢獻比例證明.docx
推甄/交通大學/A30(智慧科學暨綠能學院碩⼠班聯招)/考試須知.txt
推甄/交通大學/A40(資訊聯招)/112-03附錄：線上上傳審查資料說明.pdf
推甄/交通大學/A40(資訊聯招)/112碩博甄試簡章 (2).pdf
推甄/交通大學/A40(資訊聯招)/以入學大學同等學力認定標準第6條報考資格系所資格審查認定申請書.doc
推甄/交通大學/A40(資訊聯招)/多人合作之競賽獲獎與專題貢獻比例證明.docx
推甄/交通大學/A40(資訊聯招)/考試須知.txt
推甄/交通大學/⼈⼯智慧技術與應⽤碩⼠學位學程/112-03附錄：線上上傳審查資料說明.pdf
推甄/交通大學/⼈⼯智慧技術與應⽤碩⼠學位學程/112碩博甄試簡章 (2).pdf
推甄/交通大學/⼈⼯智慧技術與應⽤碩⼠學位學程/以入學大學同等學力認定標準第6條報考資格系所資格審查認定申請書.doc
推甄/交通大學/⼈⼯智慧技術與應⽤碩⼠學位學程/多人合作之競賽獲獎與專題貢獻比例證明.docx
推甄/交通大學/⼈⼯智慧技術與應⽤碩⼠學位學程/考試須知.txt
推甄/交通大學/資訊學院 資訊科學與⼯程研究所碩⼠班丙組(實作導向)/112-03附錄：線上上傳審查資料說明.pdf
推甄/交通大學/資訊學院 資訊科學與⼯程研究所碩⼠班丙組(實作導向)/112碩博甄試簡章 (2).pdf
推甄/交通大學/資訊學院 資訊科學與⼯程研究所碩⼠班丙組(實作導向)/以入學大學同等學力認定標準第6條報考資格系所資格審查認定申請書.doc
推甄/交通大學/資訊學院 資訊科學與⼯程研究所碩⼠班丙組(實作導向)/多人合作之競賽獲獎與專題貢獻比例證明.docx
推甄/交通大學/資訊學院 資訊科學與⼯程研究所碩⼠班丙組(實作導向)/考試須知.txt
推甄/交通大學/資訊學院_數據科學與⼯程研究所碩⼠班/112-03附錄：線上上傳審查資料說明.pdf
推甄/交通大學/資訊學院_數據科學與⼯程研究所碩⼠班/112碩博甄試簡章 (2).pdf
推甄/交通大學/資訊學院_數據科學與⼯程研究所碩⼠班/以入學大學同等學力認定標準第6條報考資格系所資格審查認定申請書.doc
推甄/交通大學/資訊學院_數據科學與⼯程研究所碩⼠班/多人合作之競賽獲獎與專題貢獻比例證明.docx
推甄/交通大學/資訊學院_數據科學與⼯程研究所碩⼠班/考試須知.txt
推甄/台灣大學/資訊工程學系人工智慧碩士班/台灣大學碩士班甄試_共同規定簡章.pdf
推甄/台灣大學/資訊工程學系人工智慧碩士班/考試須知.txt
推甄/台灣大學/資訊工程學系人工智慧碩士班/資訊工程學系人工智慧碩士班_甄試簡章.pdf
推甄/台灣大學/資訊工程學系碩士班/台灣大學碩士班甄試_共同規定簡章.pdf
推甄/台灣大學/資訊工程學系碩士班/考試須知.txt
推甄/台灣大學/資訊工程學系碩士班/資訊工程學系_碩士班甄試簡章.pdf
推甄/成功大學/人工智慧科技碩士班學位學程/成功大學_報名簡章.pdf
推甄/成功大學/人工智慧科技碩士班學位學程/成功大學_網路報名流程圖.pdf
推甄/成功大學/人工智慧科技碩士班學位學程/成功大學_重要日程表.pdf
推甄/成功大學/人工智慧科技碩士班學位學程/考試須知.txt
推甄/成功大學/資訊工程學系碩士班甲組/考試須知.txt
推甄/清華大學/資訊工程學系碩士班_丙組(人工智慧組)/112碩、博士班甄試招生簡章_(有兩版).pdf
推甄/清華大學/資訊工程學系碩士班_丙組(人工智慧組)/112碩甄_清大資工系個人資料表(填寫範例).docx
推甄/清華大學/資訊工程學系碩士班_丙組(人工智慧組)/112碩甄_清大資工系個人資料表.docx
推甄/清華大學/資訊工程學系碩士班_丙組(人工智慧組)/清華大學112學年度碩士班招生簡章.pdf
推甄/清華大學/資訊工程學系碩士班_丙組(人工智慧組)/清華大學_網路報名系統流程圖.pdf
推甄/清華大學/資訊工程學系碩士班_丙組(人工智慧組)/考試須知.txt
推甄/清華大學/資訊工程學系碩士班_甲組(資訊工程組)/112碩、博士班甄試招生簡章_(有兩版).pdf
推甄/清華大學/資訊工程學系碩士班_甲組(資訊工程組)/112碩甄_清大資工系個人資料表(填寫範例).docx
推甄/清華大學/資訊工程學系碩士班_甲組(資訊工程組)/112碩甄_清大資工系個人資料表.docx
推甄/清華大學/資訊工程學系碩士班_甲組(資訊工程組)/清華大學112學年度碩士班招生簡章.pdf
推甄/清華大學/資訊工程學系碩士班_甲組(資訊工程組)/清華大學_網路報名系統流程圖.pdf
推甄/清華大學/資訊工程學系碩士班_甲組(資訊工程組)/考試須知.txt
推甄/清華大學/資訊系統與應用研究所碩士班/112碩、博士班甄試招生簡章_(有兩版).pdf
推甄/清華大學/資訊系統與應用研究所碩士班/清華大學112學年度碩士班招生簡章.pdf
推甄/清華大學/資訊系統與應用研究所碩士班/清華大學_個人資料表.docx
推甄/清華大學/資訊系統與應用研究所碩士班/清華大學_研究計劃書.docx
推甄/清華大學/資訊系統與應用研究所碩士班/清華大學_網路報名系統流程圖.pdf
推甄/清華大學/資訊系統與應用研究所碩士班/考試須知.txt
